*{    
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

#wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}

strong {
    font-weight: bold;
}

header {
    text-align: center; 
    font-family: arial;
}

header a {
    color:black;
    text-decoration: none;
}

.title {
    font-size: 70%;
}

nav {
    margin-top: 2.5em;
    margin-bottom: 3em;
    background-color: #f2f2f2;
}

nav li{
    list-style-type: none;
    padding: 0.5em;
    border: solid #999999 1px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-bottom: dotted 2px #111111;
}

.active {
    background-color: #111111;
}

.active a {
    color:lightgray;
}

p, h2, h3{
    margin-bottom: 1em; /* 1em = to the font size of the element */
}

h1, h2, h3 {
    margin-top: 1em;
}

#about a{
    color:black;
}

#philosophy ul {
    padding-left: 2em;
}

#photo img{
    width: 100%;
    margin-bottom: 2em;
}

#sergei {
    width: 100%;
    float: left;
    margin-right: 6em;
    margin-bottom: 1em;
}

blockquote {
    margin-bottom: 1em;
}

footer {
    padding: 1em;
    padding-bottom: 0em;
    margin-top: 5em;
    text-align: center;
    background-color: #111111;
    display: inline-block;
    color: lightgray;
    width: 100%;       
}


@media (min-width: 768px) {
    
    #sergei {
        width: 50%;
        float: left;
        margin-right: 6em;
    }
    
    .title {
        text-align: left;
        padding-left: 8em;
        font-size: 100%;
    }

    .title h1, h2 {
        font-weight: 100;   
    }

    .title h2{
        padding-left: 5em;
    }
    
    nav li{
        text-align: center;
        display:inline-block;
        border-bottom:none;
        border: none;
    }
    
    nav{
        text-align: center;
        background-color: #f2f2f2;
    }
    
    nav a {
        display: block;
        border-bottom: solid 2px #111111;
        padding: 0.5em;
        margin-bottom: 0.4em;
    }
    
    .active {
        background-color:#f2f2f2;
    }
    
    .active a {
        color:black;
        border-bottom: dotted 2px #111111;
    }
    
    #content p {
        padding: 6em;
    }
    
    #content h3 {
        text-align: center;
        margin-bottom: 3em;
    }
    
    #contact {
        text-align: center;
    }
    
    
    .col-3{
        width:32%;
        float:left;
        margin-right:2%;
    }
    
    #events{
        margin:0;
    }
    
    footer {
        position:fixed;
        left:0px;
        bottom:0px;
    }
    
}

